@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
body {
  overflow: hidden; }

.bruceBanner {
  background-color: #34495e;
  color: white;
  border: 4px solid #34495e;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 100%;
  height: 35px; }
  .bruceBanner h1 {
    display: inline-block;
    font-size: 30px;
    margin: 0 50px;
    height: inherit;
    font-family: sans-serif; }
  .bruceBanner a {
    display: inline-block;
    height: inherit;
    padding: 0 10px;
    text-decoration: none;
    color: inherit; }

.register {
  display: block;
  position: absolute;
  box-sizing: border-box;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0; }
  .register--contener {
    margin: 0;
    position: relative;
    width: 50%;
    height: 100%;
    padding: 50px 50px 50px 50px;
    text-align: left; }
    .register--contener--title {
      margin: 0;
      box-sizing: border-box;
      position: relative;
      margin-bottom: 10%;
      padding-left: 20px;
      text-align: left;
      line-height: 100px;
      font-size: 300%;
      color: #28a5d2;
      font-family: Roboto, sans-serif;
      font-weight: bold;
      border-radius: 10px; }
    .register--contener--field {
      position: relative;
      display: block;
      margin: 3% 10% 3% 50%;
      width: 70%;
      height: 40px;
      top: 10%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      padding-left: 2%;
      border: 2px solid DarkGrey; }
      .register--contener--field--isGood {
        border: 2px solid green; }
      .register--contener--field--isBad {
        border: 2px solid red; }
    .register--contener--p {
      position: relative;
      display: block;
      margin: 3% 10% 3% 50%;
      width: 70%;
      height: 40px;
      top: 10%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      font-size: 14px;
      font-family: sans-serif;
      font-weight: lighter; }
    .register--contener--button {
      position: relative;
      width: 100px;
      height: 50px;
      background-color: #28a5d2;
      border: none;
      color: white;
      font-family: Pacifico, sans-serif;
      font-size: 1.3em;
      border-radius: 10px;
      overflow: hidden;
      margin-top: 5%;
      margin-left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      cursor: pointer; }
      .register--contener--button--lock {
        background-color: DarkGrey;
        cursor: auto; }

@media screen and (max-width: 800px) {
  .register--contener {
    width: 100%; } }
